* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    transition: 0.3s;
    text-rendering: optimizeSpeed;
    scroll-behavior: smooth;
  }
  
  html, body {
    height: 100%;
    scroll-snap-type: y mandatory;
    
  }
  
  header {
    width: 100%;
    height: 100vh;
    background-image: url(Homepage-Model-S-Desktop-LHD-6.22.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    scroll-snap-align: start;
  }
  
  section {
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
  }
  
  .content1 {
   background-image: url(Homepage-Model-X-Desktop-LHD.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .content2 {
    background-image: url(Tesla-Logo-Hero.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  
  .content3 {
    background-image: url(425_HP_SolarPanels_D.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .content4 {
    background-image: url(Homepage-Model-3-Desktop-NA.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .content5 {
    background-image: url(Homepage-Accessories-Desktop-NA-APAC.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .content6 {
    background-image: url(Homepage-Powerwall-Desktop.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .content7 {
    background-image: url(Homepage-SolarRoof-Desktop-Global.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .content8 {
    background-image: url(230703-tesla-al-1145-b37eb9.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }
  video{
    width: 100%;
    height: 100vw;
    padding-bottom: 100%;
    margin-bottom: 100%;

    position: relative;
  }
.model1{
    color: black;
    font-size: 30px;
    font-weight: normal;
}
.lease2{
    font-size: 30px;
    font-weight: normal;
    color: black;
}
  .lease1{
    font-size: 19px;
    font-weight: 600;
    color: black;
  }
  
  footer {
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: white;
    font-size: 19px;
    gap: 25px;
    background-color: rgb(188, 7, 7);

  }
  
  nav{
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
  }

  .tesla{
    font-size: 30px;
    color: white;
    font-weight: normal;
    font-style: italic;
    text-decoration: springgreen;
  }

  .menuu{
    display: none;
    visibility: hidden;
  }

  .cha{
    display: flex;
    gap: 50px;
  }

  .navlinks{
    text-decoration: none;
    color: white;
    font-size: 19px;
  }

  .icon{
    font-size: 30px;
    color: white;
    display: flex;
    gap: 10px;
  }

  .holder{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
  }

  .model{
    font-size: 40px;
    font-weight: bolder;
    color: white;
  }

  .lease{
    font-size: 19px;
    font-weight: 600;
    color: white;
  }

  .sep{
    display: flex;
    gap: 20px;
    padding-left: 45px;

  }

  .demoo{
    width: 250px;
    height: 40px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 400;
  }

  .excludes{
    margin-top: 10px;
    font-size: 16px;
    color: white;
    font-weight: 600;
  }

  @media screen and (max-width: 700px){
    html, body {
        height: 100%;
        scroll-snap-type: y mandatory;
       
      }
      
      header {
        width: 100%;
        height: 100vh;
        background-image: url(Homepage-Model-S-Desktop-LHD-6.22.avif);
                background-position: center;
        background-repeat: no-repeat;
        background-size: 110% 100%;
        background-color: black;
        scroll-snap-align: start;
      }
      
      section {
        width: 100%;
        height: 100vh;
        scroll-snap-align: start;
      }
      
      .content1 {
        background-image: url(Homepage-Model-X-Desktop-LHD.avif);
                background-position: center;
        background-repeat: no-repeat;
        background-size: 110% 100%;
      }
      
      .content2 {
        
        background-image: url(Tesla-Logo-Hero.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 110% 100%;
      }
      
      .content3 {
        background-image: url(425_HP_SolarPanels_D.avif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 110% 100%;
      }
      
      .content4 {
        background-image: url(Homepage-Model-3-Desktop-NA.avif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 110% 100%;
      }
      
      .content5 {
        background-image: url(Homepage-Accessories-Desktop-NA-APAC.avif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 110% 100%;
      }
      
      .content6 {
        background-image: url(Homepage-Powerwall-Desktop.avif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 110% 100%;
      }
      
      .content7 {
        background-image: url(Homepage-SolarRoof-Desktop-Global.avif);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 110% 100%;
      }
      
      .part8 {
        background-image: url(230703-tesla-al-1145-b37eb9.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 110% 100%;
      }
      
      footer {
        scroll-snap-align: start;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        font-size: 19px;
        gap: 10px;
        background-color: black;
      }
      
      nav{
        width: 100%;
        height: 60px;
        position: fixed;
        top: 0;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 20px;
        padding-left: 20px;
      }
    
      .tesla{
        font-size: 30px;
        color: white;
        font-weight: bold;
        font-style: italic;
      }

      .menuu{
        display: block;
        visibility: visible;
        width: 70px;
        height: 30px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        background-color: rgba(255, 255, 255, 0.671);
        font-size: 18px;
      }
    
      .menu{
        display: block;
        visibility: visible;
        width: 70px;
        height: 30px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        background-color: rgba(255, 255, 255, 0.733);
        font-size: 18px;
      }
    
      .cha{
        display: none;
        visibility: hidden;
      }
    
      .navlinks{
        display: none;
        visibility: hidden;
      }
    
      .icon{
        display: none;
      }
    
      .holder{
        width: 100%;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-top: 100px;
      }
    
      .model{
        font-size: 40px;
        font-weight: bolder;
        color: white;
      }
    
      .lease{
        font-size: 19px;
        font-weight: 600;
        color: white;
      }
    
      .sep{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-left: 45px;
        width: 99%;
        align-items: center;
        justify-content: center;
      }
    
      .demoo{
        width: 250px;
        height: 40px;
        background-color: white;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: black;
        font-size: 20px;
        font-weight: 400;
      }
    
      .excludes{
        margin-top: 20px;
        font-size: 16px;
        color: white;
        font-weight: 600;
        width: 99%;
      }
  }